.links{
    padding:80px ;
    font-size: 25px;
    color: rgb(11, 11, 12);
    text-decoration: none;
}
.links:hover{
    color: rgb(255, 255, 255);
}
#header{
background-color: rgb(214, 227, 245);
height: 50px;
text-align: center;
}